<%= form_for(@startpoint) do |f| %>
  <% if @startpoint.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@startpoint.errors.count, "error") %> prohibited this startpoint from being saved:</h2>

      <ul>
      <% @startpoint.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :address_id %><br>
    <%= f.text_field :address_id, :placeholder => "Enter the Start point Address",class:"form-control"%>
  </div>
  <div class="actions">
    <%= f.submit class:"btn btn-lg btn-primary"  %>
  </div>
<% end %>
