<h1>Listing startpoints</h1>

<table>
  <thead>
    <tr>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @startpoints.each do |startpoint| %>
      <tr>
        <td><%= startpoint.address %></td>
        <td><%= link_to 'Show', startpoint %></td>
        <td><%= link_to 'Edit', edit_startpoint_path(startpoint) %></td>
        <td><%= link_to 'Destroy', startpoint, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Startpoint', new_startpoint_path %>
