<%= form_for(@address) do |f| %>
  <% if @address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
      <% @address.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address, :placeholder => "Enter the address",class:"form-control" %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude, :placeholder => "Latitude",class:"form-control" %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude, :placeholder => "Longitude" ,class:"form-control" %>
  </div>
  <div class="actions">
    <%= f.submit class:"btn btn-lg btn-primary"%>
  </div>
<% end %>
