<%= form_for(@school) do |f| %>
  <% if @school.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@school.errors.count, "error") %> prohibited this school from being saved:</h2>

      <ul>
      <% @school.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, :placeholder => "School Name",class:"form-control" %>
  </div>
  <div class="field">
    <%= f.label :address_id %><br>
    <%= f.text_field :address_id, :placeholder => "School Address" ,class:"form-control" %>
  </div>
  <div class="field">
    <%= f.label :arrival %><br>
    <%= f.text_field :arrival, :placeholder => "School Arrival Time" ,class:"form-control" %>
  </div>
  <div class="actions">
    <%= f.submit class:"btn btn-lg btn-primary" %>
  </div>
<% end %>
