<!DOCTYPE html>
<html>
<head>
  <title>AntRouter - Easy way to find a better route to you!</title>
  <%= favicon_link_tag 'pinant_small.png'%>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
<script src="http://google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.1.2/src/markerclusterer.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCFahfmI22jYdNqINqIldK6bEVEMwKYpgI&v=3.exp&sensor=false"></script>

</head>

<body>
  <%= render "application/nav_bar" %>
  <%= yield %>
  <%= render "application/footer" %>
</body>
</html>
